 @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
 * {
            box-sizing: border-box;
        }

        @font-face {
            font-family: 'Pixeboy';
            src: url('./assets/Pixeboy.ttf') format('truetype');
        }

        body {
            margin: 0;
            width: 100vw;
            height: 100vh;
            user-select: none;
            -webkit-app-region: drag;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Pixeboy', sans-serif;
        }
        button, input, a {
  -webkit-app-region: no-drag;
}
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            width: 13.375rem;
            height: 14.25rem;
            padding: 1rem 1.0625rem;
            border-radius: 20px;
            border: 2px solid #2191c1;
            background: linear-gradient(90deg, hsla(198, 68%, 46%, 1) 0%, hsla(193, 49%, 75%, 1) 100%);
        }

        .heading-cal {
            display: flex;
            width: 157px;
            aspect-ratio: 157/27;
            padding: 0.25rem 0.625rem;
            justify-content: center;
            align-items: center;
            border-radius: 6.25rem;
            border: 1px solid #e7a375;
            background: #daab97;
            color: #fff;
            font-family: 'Pixeboy', sans-serif;
            font-size: 16px;
            font-weight: 400;
        }

        .calendar {
            display: flex;
            width: 11.125rem;
            height: 9.9375rem;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            padding: 12px 24px;
            border-radius: 15px;
            border: 3px solid #e7a375;
            background: #edc48b;
        }

        #day {
            font-family: 'Pixeboy', sans-serif;
            font-weight: 400;
            font-size: 120px;
            line-height: 100px;
            letter-spacing: 6%;
            text-align: center;
            color: #ffffff;
            -webkit-text-stroke: 1.5px #e7a375;
            margin: 0;
            padding: 0;
        }

        #month {
           font-family: 'Pixeboy', sans-serif;
            font-weight: 400;
            font-size: 44px;
            line-height: 20px;
            letter-spacing: 20%;
            text-align: center;
            color: #ffffff;
            -webkit-text-stroke: 1.5px #e7a375;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }